<%- include("partials/header"); -%>

<h1>Thank you for your order</h1>
<p><%= customerFirstName %>, you've requested <%=requestCount%> signs. We will contact you & let you know when the signs are ready for pickup.</p>
<P>Watch for an email to: <%= customerEmail %></P>
<br>
<br>
<p>Note that a special removable double sided tape called "Remo Two" needs to be used so the temporary signs & wall are not damaged</p>
<p>We can sell you a roll which will more than cover the installation of 25 signs if you don't have "Remo Two" on hand.</p>

<%- include("partials/footer"); -%>
